COMPILE_FLAGS += -I.
# LINK_FLAGS += -lpthread -lboost_serialization -lboost_iostreams
EXECUTABLE_REL=run

# BOOST_BASE=/lfs/vlsi/tools/boost/1_64_0
# COMPILE_FLAGS += -isystem$(BOOST_BASE)/include -Wno-unused-function
# LINK_FLAGS += -L$(BOOST_BASE)/lib -Xlinker -rpath=$(BOOST_BASE)/lib
# the lfs environment requires this, so use everywhere
# COMPILE_FLAGS += -D_GLIBCXX_USE_CXX11_ABI=0

# COMPILE_FLAGS += -DNO_SMALL_VECTOR
# COMPILE_FLAGS += -DNO_BITSET
